<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no">
    <title><th:block th:text="${PageTitle}"/></title>
    <link th:href="@{/cork/assets/img/favicon.ico}" rel="icon" type="image/x-icon" />
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link th:href="@{/cork/bootstrap/css/bootstrap.min.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/cork/assets/css/plugins.css}" rel="stylesheet" type="text/css" />
    <!-- END GLOBAL MANDATORY STYLES -->

    <!-- BEGIN PAGE LEVEL PLUGINS/CUSTOM STYLES -->
    <link th:href="@{/cork/assets/css/components/custom-modal.css}" rel="stylesheet" type="text/css" />
    <!-- END PAGE LEVEL PLUGINS/CUSTOM STYLES -->

</head>
<body class="dashboard-analytics">

<!-- BEGIN LOADER -->
<div id="load_screen"> <div class="loader"> <div class="loader-content">
    <div class="spinner-grow align-self-center"></div>
</div></div></div>
<!--  END LOADER -->

<!--  BEGIN NAVBAR  -->
<div th:insert="~{staff/fragment/navbar}"></div>
<!--  END NAVBAR  -->

<!--  BEGIN MAIN CONTAINER  -->
<div class="main-container" id="container">

    <div class="overlay"></div>
    <div class="search-overlay"></div>

    <!--  BEGIN SIDEBAR  -->
    <div th:insert="~{staff/fragment/sidebar}"></div>
    <!--  END SIDEBAR  -->

    <!--  BEGIN CONTENT AREA  -->
    <div id="content" class="main-content"></div>
    <!--  END CONTENT AREA  -->


</div>
<!-- END MAIN CONTAINER -->

<!-- BEGIN GLOBAL MANDATORY SCRIPTS -->
<script th:src="@{/cork/assets/js/libs/jquery-3.1.1.min.js}"></script>
<script th:src="@{/cork/bootstrap/js/popper.min.js}"></script>
<script th:src="@{/cork/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/cork/plugins/perfect-scrollbar/perfect-scrollbar.min.js}"></script>
<script th:src="@{/cork/assets/js/app.js}"></script>

<script>
    $(document).ready(function() {
        App.init();
    });
</script>
<script th:src="@{/cork/assets/js/custom.js}"></script>
<!-- END GLOBAL MANDATORY SCRIPTS -->
<!-- BEGIN PAGE LEVEL CUSTOM SCRIPTS -->
<script th:src="@{/cork/plugins/table/datatable/datatables.js}"></script>
<!-- END PAGE LEVEL CUSTOM SCRIPTS -->

<!-- BEGIN LEXIT API IMPLEMENTATION -->
<script th:inline="javascript">
    let AuthToken = [[${Storage.getToken().getToken()}]];
    let UserUuid = [[${Storage.getUser().getUuid()}]];
    let SubjectStatusUuidACT = [[${SubjectStatusACT.getUuid()}]];
    let SubjectStatusUuidINACT = [[${SubjectStatusINACT.getUuid()}]];
    let SubjectStatusUuidCRT = [[${SubjectStatusCRT.getUuid()}]];
    let SubjectStatusUuidPSD = [[${SubjectStatusPSD.getUuid()}]];
    let SubjectTypeUuidIE = [[${SubjectTypeIE.getUuid()}]];
    let SubjectTypeUuidLE = [[${SubjectTypeLE.getUuid()}]];
</script>
<script th:src="@{/lexit/js/lexit.js}"></script>
<script th:src="@{/lexit/js/staff/subject/subject.js}"></script>
<script>
    window.onload = function () {
        init();
    };
</script>
<!-- END LEXIT API IMPLEMENTATION -->
</body>
</html>