<div class="header-container fixed-top" xmlns:th="http://www.thymeleaf.org">
    <header class="header navbar navbar-expand-sm">

        <!-- Наименование страницы-->
        <ul class="navbar-item flex-row">
            <li class="nav-item align-self-center page-heading">
                <div class="page-header">
                    <div class="page-title">
                        <h3>
                            <!--/*@thymesVar id="PageTitle" type="java.lang.String"*/-->
                            <th:block th:text="${PageTitle}"/>
                        </h3>
                    </div>
                </div>
            </li>
        </ul>

        <!--Бургер-меню для смартфонов-->
        <a href="javascript:void(0);" class="sidebarCollapse" data-placement="bottom">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                 stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                 class="feather feather-list">
                <line x1="8" y1="6" x2="21" y2="6"></line>
                <line x1="8" y1="12" x2="21" y2="12"></line>
                <line x1="8" y1="18" x2="21" y2="18"></line>
                <line x1="3" y1="6" x2="3" y2="6"></line>
                <line x1="3" y1="12" x2="3" y2="12"></line>
                <line x1="3" y1="18" x2="3" y2="18"></line>
            </svg>
        </a>

        <!--Нужно оставить что было пустое пространство-->
        <ul class="navbar-item flex-row search-ul"></ul>

        <!-- Меню в хедере-->
        <ul class="navbar-item flex-row navbar-dropdown">
            <!-- Інформация о системе-->
            <li class="nav-item dropdown message-dropdown">
                <a href="javascript:void(0);" class="nav-link dropdown-toggle" data-toggle="modal"
                   data-target="#systemInformation"
                   aria-haspopup="true" aria-expanded="false">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                         stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                         class="feather feather-info">
                        <circle cx="12" cy="12" r="10"></circle>
                        <line x1="12" y1="16" x2="12" y2="12"></line>
                        <line x1="12" y1="8" x2="12.01" y2="8"></line>
                    </svg>
                </a>
            </li>
            <!-- Профиль-->
            <li class="nav-item dropdown user-profile-dropdown order-lg-0 order-1">
                <a href="javascript:void(0);" class="nav-link dropdown-toggle user" id="userProfileDropdown"
                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                         stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                         class="feather feather-user">
                        <path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path>
                        <circle cx="12" cy="7" r="4"></circle>
                    </svg>
                </a>

                <div class="dropdown-menu position-absolute animated fadeInUp"
                     aria-labelledby="userProfileDropdown">

                    <!-- Полное имя пользователя и логин/почта/номер телефона-->
                    <div class="user-profile-section">
                        <div class="media mx-auto">
                            <div class="media-body">
                                <h5>
                                    <!--/*@thymesVar id="Storage" type="ua.lexit.cabinet.view.storage.SessionStorage"*/-->
                                    <th:block th:text="${Storage.getUser().getShortName()}"/>
                                </h5>

                                <!--/*@thymesVar id="Storage" type="ua.lexit.cabinet.view.storage.SessionStorage"*/-->
                                <div th:if="${Storage.getUser().getLogin() ne null}">
                                    <!--/*@thymesVar id="Storage" type="lexit.application.core.SessionStorage"*/-->
                                    <p><th:block th:text="${Storage.getUser().getLogin()}"/></p>
                                </div>

                                <!--/*@thymesVar id="Storage" type="ua.lexit.cabinet.view.storage.SessionStorage"*/-->
                                <div th:if="${Storage.getUser().getEmail() ne null}">
                                    <!--/*@thymesVar id="Storage" type="ua.lexit.cabinet.view.storage.SessionStorage"*/-->
                                    <p><th:block th:text="${Storage.getUser().getEmail()}"/></p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Профиль и настройки профиля-->
                    <div class="dropdown-item">
                        <a href="/cabinet/profile">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                 fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                 stroke-linejoin="round" class="feather feather-user">
                                <path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path>
                                <circle cx="12" cy="7" r="4"></circle>
                            </svg>
                            <span>Мій профіль</span>
                        </a>
                    </div>

                    <!-- Выйти из системы-->
                    <div class="dropdown-item">
                        <a href="/cabinet/signOut">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                 fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                 stroke-linejoin="round" class="feather feather-log-out">
                                <path d="M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4"></path>
                                <polyline points="16 17 21 12 16 7"></polyline>
                                <line x1="21" y1="12" x2="9" y2="12"></line>
                            </svg>
                            <span>Вийти з системи</span>
                        </a>
                    </div>
                </div>
            </li>
        </ul>
    </header>
</div>

<!-- Modals -->
<div xmlns:th="http://www.thymeleaf.org">
    <div class="modal fade" id="systemInformation" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <h4 class="modal-heading mb-4 mt-2">Інформація про систему</h4>
                    <p class="modal-text">Version :
                        <!--/*@thymesVar id="Storage" type="ua.lexit.cabinet.view.storage.SessionStorage"*/-->
                        <th:block th:text="${Storage.getSystem().getVersion()}"/>
                    </p>
                    <p class="modal-text">Founder :
                        <!--/*@thymesVar id="Storage" type="ua.lexit.cabinet.view.storage.SessionStorage"*/-->
                        <th:block th:text="${Storage.getSystem().getFounder()}"/>
                    </p>
                </div>
                <div class="modal-footer">
                    <button class="btn" data-dismiss="modal"><i class="flaticon-cancel-12"></i> Закрити</button>
                </div>
            </div>
        </div>
    </div>
</div>