<div class="sidebar-wrapper sidebar-theme" xmlns:th="http://www.thymeleaf.org">

    <nav id="compactSidebar">

        <!--Место под логотип-->
        <div class="theme-logo">
            <a href="/cabinet">
                <img th:src="@{/cork/assets/img/90x90.png}" class="navbar-logo" alt="logo">
            </a>
        </div>

        <ul class="menu-categories">
            <!--/*@thymesVar id="MenuActive" type="java.lang.String"*/-->
            <li class="menu" th:classappend="${MenuActive eq 'dashboard'} ? 'active'">
                <!--/*@thymesVar id="MenuActive" type="java.lang.String"*/-->
                <a href="#dashboard" class="menu-toggle"
                   th:attrappend="data-active=${MenuActive eq 'dashboard'}?true:false">
                    <div class="base-menu">
                        <div class="base-icons">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                 fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                 stroke-linejoin="round" class="feather feather-home">
                                <path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path>
                                <polyline points="9 22 9 12 15 12 15 22"></polyline>
                            </svg>
                        </div>
                    </div>
                    <div class="tooltip"><span>Робочі столи</span></div>
                </a>
            </li>

            <!--/*@thymesVar id="MenuActive" type="java.lang.String"*/-->
            <li class="menu" th:classappend="${MenuActive eq 'subject'} ? 'active'">
                <!--/*@thymesVar id="MenuActive" type="java.lang.String"*/-->
                <a href="#subject" class="menu-toggle" th:attrappend="data-active=${MenuActive eq 'subject'}?true:false">
                    <div class="base-menu">
                        <div class="base-icons">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                 fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                 stroke-linejoin="round" class="feather feather-grid">
                                <rect x="3" y="3" width="7" height="7"></rect>
                                <rect x="14" y="3" width="7" height="7"></rect>
                                <rect x="14" y="14" width="7" height="7"></rect>
                                <rect x="3" y="14" width="7" height="7"></rect>
                            </svg>
                        </div>
                    </div>
                    <div class="tooltip"><span>Суб'єкти</span></div>
                </a>
            </li>

            <!--/*@thymesVar id="MenuActive" type="java.lang.String"*/-->
            <li class="menu" th:classappend="${MenuActive eq 'address'} ? 'active'">
                <!--/*@thymesVar id="MenuActive" type="java.lang.String"*/-->
                <a href="#address" class="menu-toggle"
                   th:attrappend="data-active=${MenuActive eq 'address'}?true:false">
                    <div class="base-menu">
                        <div class="base-icons">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                                 fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                 stroke-linejoin="round" class="feather feather-map-pin">
                                <path d="M21 10c0 7-9 13-9 13s-9-6-9-13a9 9 0 0 1 18 0z"></path>
                                <circle cx="12" cy="10" r="3"></circle>
                            </svg>
                        </div>
                    </div>
                    <div class="tooltip"><span>Адреси</span></div>
                </a>
            </li>
        </ul>

        <!--/*@thymesVar id="Storage" type="ua.lexit.cabinet.view.storage.SessionStorage"*/-->
        <div class="external-links" th:if="${Storage.getExternalResource() ne null}">
            <!--/*@thymesVar id="Storage" type="ua.lexit.cabinet.view.storage.SessionStorage"*/-->
            <a th:href="${Storage.getExternalResource().getLink()}" target="_blank">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                     stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                     class="feather feather-globe">
                    <circle cx="12" cy="12" r="10"></circle>
                    <line x1="2" y1="12" x2="22" y2="12"></line>
                    <path d="M12 2a15.3 15.3 0 0 1 4 10 15.3 15.3 0 0 1-4 10 15.3 15.3 0 0 1-4-10 15.3 15.3 0 0 1 4-10z"></path>
                </svg>
                <div class="tooltip"><span>
                    <!--/*@thymesVar id="Storage" type="ua.lexit.cabinet.view.storage.SessionStorage"*/-->
                    <th:block th:text="${Storage.getExternalResource().getTitle()}"/>
                </span></div>
            </a>
        </div>
    </nav>

    <div id="compact_submenuSidebar" class="submenu-sidebar">

        <div class="theme-brand-name">
            <a href="/cabinet">
                <!--/*@thymesVar id="Storage" type="ua.lexit.cabinet.view.storage.SessionStorage"*/-->
                <th:block th:text="${Storage.getSystem().getOwner()}"/>
            </a>
        </div>

        <div class="submenu" id="dashboard">
            <div class="category-info">
                <h5>Робочий стіл</h5>
                <p>Доступні вам робочі столи</p>
            </div>

            <ul class="submenu-list" data-parent-element="#dashboard">
                <li>
                    <a href="/cabinet/dashboard/staff">
                        <span class="icon">
                            <svg xmlns="http://www.w3.org/2000/svg"
                                 width="24" height="24" viewBox="0 0 24 24"
                                 fill="none" stroke="currentColor"
                                 stroke-width="2" stroke-linecap="round"
                                 stroke-linejoin="round"
                                 class="feather feather-circle"><circle cx="12" cy="12" r="10"></circle>
                            </svg>
                        </span> Співробітник </a>
                </li>
                <li>
                    <a href="/cabinet/dashboard/analytic">
                        <span class="icon">
                            <svg xmlns="http://www.w3.org/2000/svg"
                                 width="24" height="24" viewBox="0 0 24 24"
                                 fill="none" stroke="currentColor"
                                 stroke-width="2" stroke-linecap="round"
                                 stroke-linejoin="round"
                                 class="feather feather-circle"><circle cx="12" cy="12" r="10"></circle>
                            </svg>
                        </span> Аналітик </a>
                </li>
                <li>
                    <a href="/cabinet/dashboard/marketer">
                        <span class="icon">
                            <svg xmlns="http://www.w3.org/2000/svg"
                                 width="24" height="24" viewBox="0 0 24 24"
                                 fill="none" stroke="currentColor"
                                 stroke-width="2" stroke-linecap="round"
                                 stroke-linejoin="round"
                                 class="feather feather-circle"><circle cx="12" cy="12" r="10"></circle>
                            </svg>
                        </span> Маркетолог </a>
                </li>
                <li>
                    <a href="/cabinet/dashboard/sales">
                        <span class="icon">
                            <svg xmlns="http://www.w3.org/2000/svg"
                                 width="24" height="24" viewBox="0 0 24 24"
                                 fill="none" stroke="currentColor"
                                 stroke-width="2" stroke-linecap="round"
                                 stroke-linejoin="round"
                                 class="feather feather-circle"><circle cx="12" cy="12" r="10"></circle>
                            </svg>
                        </span> Продавець </a>
                </li>
            </ul>

        </div>

        <div class="submenu" id="subject">
            <div class="category-info">
                <h5>Суб'єкти</h5>
                <p>Меню для роботи з суб'єктами:</p>
            </div>

            <ul class="submenu-list" data-parent-element="#object">
                <li>
                    <a href="/cabinet/subject">
                        <span class="icon">
                            <svg xmlns="http://www.w3.org/2000/svg"
                                 width="24" height="24" viewBox="0 0 24 24"
                                 fill="none" stroke="currentColor"
                                 stroke-width="2" stroke-linecap="round"
                                 stroke-linejoin="round"
                                 class="feather feather-circle"><circle cx="12" cy="12" r="10"></circle>
                            </svg>
                        </span> Суб'єкти </a>
                </li>
            </ul>

        </div>

        <div class="submenu" id="address">
            <div class="category-info">
                <h5>Адреси</h5>
                <p>Меню роботи з адресами</p>
            </div>

            <ul class="submenu-list" data-parent-element="#address">
                <li>
                    <a href="/cabinet/address/juridical">
                        <span class="icon">
                            <svg xmlns="http://www.w3.org/2000/svg"
                                 width="24" height="24" viewBox="0 0 24 24"
                                 fill="none" stroke="currentColor"
                                 stroke-width="2" stroke-linecap="round"
                                 stroke-linejoin="round"
                                 class="feather feather-circle"><circle cx="12" cy="12" r="10"></circle>
                            </svg>
                        </span> Юридичні адреси </a>
                </li>
                <li>
                    <a href="/cabinet/address/delivery">
                        <span class="icon">
                            <svg xmlns="http://www.w3.org/2000/svg"
                                 width="24" height="24" viewBox="0 0 24 24"
                                 fill="none" stroke="currentColor"
                                 stroke-width="2" stroke-linecap="round"
                                 stroke-linejoin="round"
                                 class="feather feather-circle"><circle cx="12" cy="12" r="10"></circle>
                            </svg>
                        </span> Адреси доставки </a>
                </li>
            </ul>

        </div>

    </div>

</div>